.container {
    margin: 20px 0;
}

.post-list {
    list-style-type: none;
    border-left: 8px solid #4183c4;
    margin-left: 100px;
}

.post-list li {
    margin: 40px 0;
    position: relative;
}

.post-item {
    position: relative;
}

.post-title {
    text-decoration: none;
    opacity: 0.8;
    font-size: 25px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transition-duration: 0.3s;
}

.post-title:hover, .post-title:active, .post-title:focus {
    text-decoration: none;
    opacity: 1;
}

.post-title:before {
    position: absolute;
    z-index: -1;
    content: '';
    /*top: calc(50% - 10px);*/
    top: 50%;
    margin-top: -10px;
    left: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.post-title:hover, .post-title:focus, .post-title:active {
    border-color: transparent #4183c4 transparent transparent;
    transform: translateX(10px);
}
.post-title:hover:before, .post-title:focus:before, .post-title:active:before {
    border-color: transparent #4183c4 transparent transparent;
    transform: translateX(-20px);
}

.post-list-item:hover .circle {
    background: #4183c4;
}

.post-date {
    position: absolute;
    left: -140px;
    top: 50%;
    margin-top: -10px;
}

.circle {
    position: absolute;
    background: #fff;
    width: 20px;
    height: 20px;
    border: 6px solid #4183c4;
    display: block;
    border-radius: 50%;
    left: -54px;
    top: 50%;
    margin-top: -10px;
}